

body{
    margin: 0;
    padding: 0;
	font-size: 16pt;
	font-family: 'Montserrat', serif;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: 	#606060;
  }

header{
	border-bottom: 3px solid white;
	background-color: rgb(214, 213, 213);
	display:flex;
	flex-direction: column;
	align-items:center;

  }

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }


.mylogo{
	width: 94px;
}

#logo {
	width: 100%;
	margin: 10px;
	display: inline;
	border-top-left-radius: 78% 68%;
    border-top-right-radius: 83% 72%;
    border-bottom-right-radius: 76% 74%;
    border-bottom-left-radius: 79% 65%;
}

nav{  
	text-align: right; 	
  }

.links {
	display: flex; 
    justify-content: center;
    flex-direction: row;
}

nav ul{
	list-style-type: none;	
  }

nav li {
	display: inline;
	font-size: 16px;
	margin: 10px;
}

nav ul li a{
	color: rgb(60, 81, 90);
}
  
nav ul li a:hover, nav ul li a:focus{
	color: orange;
	text-decoration: none;
	font-weight: bold;

}

nav ul li a:active{
	background-color:rgb(235, 123, 123);
}

nav ul li a.current{
	color: rgb(233, 98, 121);
	text-decoration: none;
	font-weight: bold;
	
}


p.one{
	font-size: 30px;
	margin: 20px;
	position:relative;
	top: 33px;
	font-weight: 500;
}


.pantone {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#sky{
	margin: 60px;
	width: 380px;
	object-fit: scale-down;
	max-height: fit-content;

}

#halo {
	margin: 60px;
	width: 380px;
	object-fit: scale-down;
	max-height: fit-content;
}

#coral {
	margin: 60px;
	width: 380px;
	object-fit: scale-down;
	max-height: fit-content;

}

#tomato{
	margin: 70px;
	width: 400px;
	object-fit: scale-down;
	max-height: fit-content;

}

#blue{
	margin: 30px;
	width: 400px;
	object-fit: scale-down;
	max-height: fit-content;

}
#cookie{
	margin: 60px;
	width: 410px;
	object-fit: scale-down;
	max-height: fit-content;
}

#sprinkles{
	margin: 80px;
	width: 410px;
	object-fit: scale-down;
	max-height: fit-content;
}

#japan{
	margin: 80px;
	width: 410px;
	object-fit: scale-down;
	max-height: fit-content;
}

#music{
	margin: 50px;
	width: 438px;
	object-fit: scale-down;
	max-height: fit-content;
}

@keyframes logo {
    from {
        width: 10px;
        opacity: 0;
    }
    to {
        width: 66px;
        opacity: 1;
    }
}

#logo {
    animation-name: logo; 
    animation-duration: 3s;
    animation-iteration-count: 1; 

}

@media (prefers-reduced-motion) {
    #logo {
      animation: none;
	}
	body{
		background-attachment: scroll;
	}

} 

h1{
	text-align: center;
	padding: 10px;
}


#circle1{
	width: 255px;
}
#circle2{
	width: 280px;
}
#circle3{
	width: 240px;
}


footer {
	font-size: 20px;
	width:100%;
	text-align:center;
	height: 20px;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;

  }


  /* Contact Page */

  .contact {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
  }

  input[type=text], select, textarea {
	width: 100%;
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	margin-right: 10px;
  }

  input[type=submit] {
	background-color: black;
	color: pink;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
	font-weight: bold;
  }
  input[type=submit]:hover {
	background-color: #01810a;
  }

  .container1 {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-right: 10px;
	margin-left: 10px;
  }
  .touch{
	font-size: 30px;
    margin: 6px;
    position: relative;
    top: -8px;
    font-weight: 500;
    padding: 13px;
}

.contactpage{
	padding-bottom: 50px;
}

#fname:hover{
	font-size:larger;	
}
#lname:hover{
	font-size:larger;	
}

#email:hover{
	font-size:larger;	
}

#subject:hover{
	font-size:larger;	
}
/* Playlist page */

p.two{
	font-size: 26px;
	margin: 30px;
	position:relative;
	top: 10px;
	font-weight: 300;
	text-align: center;
	font-weight: 500
}
#dontoliver {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name_of_artist{
	text-align: center;
	padding: 10px;
	font-weight: 417;
	text-decoration: overline;
	font-size: 22px;

}

#don_tracklist{
	width: 300px;
}
#sza{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#sza_tracklist{
	width: 300px;
}

#brent{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#don_tracklist{
	width: 300px;
}

#albums {
	width: 300px;
}

#albums:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#ctrl:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#brent:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#swimming:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}

.biod:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}

.s_bio:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}
.b_bio:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}
.m_bio:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}
#don1 {
	margin: 10px;
	width: 206px;
}

#don2 {
	margin: 10px;
	width: 200px;
}
#don3 {
	margin: 10px;
	width: 200px;
}
#don4 {
	margin: 10px;
	width: 200px;
}


#ctrl{
	width: 300px;
}
#drew{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#doves{
	margin: 10px;
	width: 206px;
}
#garden{
	margin: 10px;
	width: 206px;
}
#weekend{
	margin: 10px;
	width: 206px;
}
#brent_album{
	width: 300px;
}
#brent_tracklist{
	width: 290px;
}
#money{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#bluffin{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#clouded{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#beenaway{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#macmiller{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#swimming{
	width: 300px;
}
#miller_tracklist{
	width: 300px;
}
#small{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#use{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#jet{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}
#feelings{
	margin: 10px;
	width: 206px;
	margin-top: 10px;
}

.biod{
	text-align: center;
	padding: 30px;
    text-indent: 50px;
    font-size: 19px;
}

.s_bio{
	text-align: center;
	padding: 30px;
    text-indent: 50px;
    font-size: 19px;
}
.b_bio{
	text-align: center;
	padding: 30px; 
    text-indent: 50px;
    font-size: 19px;
}

.m_bio{
	text-align: center;
	padding: 30px;
    text-indent: 50px;
    font-size: 19px;
}

.flip-card{
	background-color: transparent;
	height: 342px;
    perspective: 1000px;
}
.flip-card-inner {
	width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute; 
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #008CCC;
    background-color:transparent;
    color: white;
    color: black;
}
.flip-card-back {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
}
.songs_of_don{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.songs_of_sza{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.songs_of_brent{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.songs_of_miller{
	display:flex;
	flex-direction: column;
	align-items:center;
}

/* Gallery */

p.shop {
	font-size: 32px;
	position:relative;
	margin: 32px;
	font-weight: 500;
}
.shopping{
  display: grid;
  grid-template-rows: repeat (6, auto);
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row;
  grid-row-gap: 120px;
  justify-content: space-evenly;
}

#japanblack{
	max-height: 400px; 
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#sky:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#halo:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}

#coral:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#blue:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#tomato:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#cookie:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#sprinkles:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#japan:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#music:hover{
	border:5px solid gray;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
.pantonep1:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: 450;
	font-size: 20px;

}
.pantonep2:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: 450;
	font-size: 20px;
}
.pantonep3:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: 450;
	font-size: 20px;
}


#japanwooden{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#japanwhite {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#coralblack {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#coralwood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;

}

#coralwhite {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#haloblack{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#halowooden{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#halowhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#cloudsblack {
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#cloudswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}

#cloudswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#nb{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#noteswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#noteswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#sprinklesb{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#sprinkleswood{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
#sprinkleswhite{
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	object-fit: scale-down;
}
.pantonep1{
	padding: 30px;
	text-align: center;
	text-indent: 50px;
	font-size: 19px;
}
.pantonep2{
	padding: 20px;
	text-align: center;
	text-indent: 50px;
	font-size: 19px;
}
.pantonep3{
	padding: 20px;
	text-align: center;
	text-indent: 50px;
	font-size: 19px;
}

#japanblack:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}

#japanwooden:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}

#japanwhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#coralblack:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#coralwood:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#coralwhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#haloblack:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#halowooden:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#halowhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#cloudsblack:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#cloudswood:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#cloudswhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#nb:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#noteswood:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#noteswhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}
#sprinklesb:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));

}
#sprinkleswood:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));

}
#sprinkleswhite:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
}


/* Home Page */

p.name{
	font-size: 32px;
	font-weight: 450;
	text-align: center;
	margin: 11px;
}
.maininfo{
	display:flex;
	flex-direction: column;
	align-items: center;
}

#me {
	width: 270px;
	padding: 20px;
	margin-bottom: -31px;
	border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.lessinfo{
	text-align:center;
}

h2{
	font-weight: 600;
	font-size: 40px;
	margin: 14px;
	padding: 10px;
}
p.hello {
	font-size: 32px;
	font-weight: 300;
	margin-top: -10px;

}

.p1home {
	padding: 30px;
	text-align: left;
	text-indent: 50px;
	font-size: 19px;

}

.p2home{
	padding: 30px;
	text-align: left;
	text-indent: 50px;
	font-size: 19px;
	margin-top: -29px;
}

.p3home{
	padding: 30px;
	text-align: left;
	text-indent: 50px;
	font-size: 19px;
	margin-top: -29px;
}
.p1home:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}
.p2home:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}
.p3home:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	font-weight: bold;
	font-size: 20px;
}

#me:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
	width: 300px;
}
.gallery{
	color:blue;
}
.playlist{
	color:blue;
}
.contact{
	color:blue;
}
.gallery:hover{
	color: rgb(226, 145, 159);
	text-decoration: none;
	font-weight: bold;
	font-size: larger;
}
.playlist:hover{
	color: rgb(226, 145, 159);
	text-decoration: none;
	font-weight: bold;
	font-size: larger;
}
.contact:hover{
	color: rgb(226, 145, 159);
	text-decoration: none;
	font-weight: bold;
	font-size: larger;
}

#circle1:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
	filter: saturate(3);
	
}

#circle2:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
	filter: saturate(3);
}

#circle3:hover{
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.9));
	filter: saturate(3);
}



@media screen and (min-width: 850px){
	nav{
        width: 100%;
	}
	.links{
		justify-content: space-around;
		width:100%;
	}
	.mylogo{
		width: 87px;
	}
	p.shop {
		text-align:center
	}
	p.one{
		text-align: center;
	}

	p.name{
		text-align:left;
		margin: 45px;
		font-size: 39px;
		position: sticky;
		z-index: 2;
	}

	.maininfo{
		flex-direction: row;
	}
	
	#me {
		margin: 32px;
		width: 379px;
		position:sticky;
		align-self: flex-start;
		margin-top: -34px;
	}
	#me:hover{
		width: 400px;
		padding: 10px;
	}
	.less-info {
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	h2{
		font-size: 74px;
		margin-left: 31px;
		margin-top: 71px;
	}

	p.hello {
		margin-left: 31px;
		font-size: 47px;
		margin-top: 6px;
	}

	#circle1{
		margin-left: -9px;
		width: 158px;
		padding:13px;
	}
	#circle2{
		width:165px;
		margin-left: -41px;
		padding: 16px;
		margin-right: -30px;
		margin-top: 11px;
	}
	#circle3{
		width:144px;
		padding: 18px;
	}

	.p1home {
		position:relative;
		right: 500px;
		bottom: 374px;
		padding: 2px;
		padding-left: 30px;
	}

	.p2home{
		position:relative;
		right: 500px;
		bottom: 322px;
		padding: 2px;
		padding-left: 30px;

	}
	.p3home{
		position:relative;
		right: 500px;
		bottom: 264px;
		padding: 2px;
		padding-left: 30px;
	}
	#sky{
		width: 300px;
	}
	#halo{
		width:300px;
	}
	#coral{
		width: 300px;
	}
	#blue{
		width: 300px;
	}
	#tomato{
		width: 300px;
	}
	#cookie{
		width: 300px;
	}
	#sprinkles{
		width: 300px;
	}
	#japan{
		width: 300px;
	}
	#music{
		width: 300px;
	}

	#japanblack:hover{
		max-height: 450px;
	}
	
	#japanwooden:hover{
		max-height: 450px;
	}
	
	#japanwhite:hover{
		max-height: 450px;
	}
	#coralblack:hover{
		max-height: 450px;
	}
	#coralwood:hover{
		max-height: 450px;
	}
	#coralwhite:hover{
		max-height: 450px;
	}
	#haloblack:hover{
		max-height: 450px;
	}
	#halowooden:hover{
		max-height: 450px;
	}
	#halowhite:hover{
		max-height: 450px;
	}
	#cloudsblack:hover{
		max-height: 450px;
	}
	#cloudswood:hover{
		max-height: 450px;
	}
	#cloudswhite:hover{
		max-height: 450px;
	}
	#nb:hover{
		max-height: 450px;
	}
	#noteswood:hover{
		max-height: 450px;
	}
	#noteswhite:hover{
		max-height: 450px;
	}
	#sprinklesb:hover{
		max-height: 450px;
	}
	#sprinkleswood:hover{
		max-height: 450px;
	}
	#sprinkleswhite:hover{
		max-height: 450px;
	}

	.pantonep1{
		text-align:left;
	}
	.pantonep2{
		text-align:left;
	}
	.pantonep3{
		text-align:left;
	}

	.songs_of_don{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.songs_of_sza{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.songs_of_brent{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#albums{
		margin-left: 10px;
	}
	.sza{
		flex-direction: row;
		flex-wrap: wrap;
	}
	#ctrl{
		margin-left: 10px;
	}
	.brent{
		flex-direction: row;
		flex-wrap: wrap;
	}
	#brent{
		margin-left: 10px;
	}
	.songs_of_miller{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#swimming{
		margin-left: 10px;
	}
	
	.touch{
		text-align:center;
	}


}

@media screen and (min-width: 1260px){
	header{
		flex-direction: row;
	}
	nav{
        width: 100%;
	}
	.links{
        flex-direction: row;
		width:100%;
		justify-content: flex-end;
	}
	.mylogo{
		width: 66px;
	}
	/*Home Page*/
	p.name{
		text-align: center;
		font-size: 47px;
	}
	#me{
		width: 500px;
		margin-top: 37px;
		margin: 79px;
	}
	h2{
		margin-left: 75px;
	}
	p.hello{
		margin-left: 69px;
	}

	#circle1{
		margin-left: 98px;
	}
	#circle2{
		margin-left: 79px;
	}

	#circle3{
		margin-left: 116px;
	}
	.gallery{
		margin-left: 106px;
	}

	.playlist{
		margin-left: 120px;
	}

	.contact{
		margin-left: 120px;
	}
	.p1home{
		bottom: -11px;
		right: 385px;
		font-size: 22px;
	}
	.p2home{
		bottom: -56px;
		right: 384px;
		font-size: 22px;
	}
	.p3home{
		bottom: -107px;
		right: 385px;
		padding-bottom: 55px;
		font-size: 22px;
	}
	.homefooter{
		padding-top: 75px;
	}
	#me:hover{
		width: 530px;
	}

	/*Gallery Page*/
	p.one{
		font-size: 40px;
	}
	p.shop{
		font-size: 45px;
	}
	#japanblack:hover{
		max-height: 500px;
	}
	
	#japanwooden:hover{
		max-height: 500px;
	}
	
	#japanwhite:hover{
		max-height: 500px;
	}
	#coralblack:hover{
		max-height: 500px;
	}
	#coralwood:hover{
		max-height: 500px;
	}
	#coralwhite:hover{
		max-height: 500px;
	}
	#haloblack:hover{
		max-height: 500px;
	}
	#halowooden:hover{
		max-height: 500px;
	}
	#halowhite:hover{
		max-height: 500px;
	}
	#cloudsblack:hover{
		max-height: 500px;
	}
	#cloudswood:hover{
		max-height: 500px;
	}
	#cloudswhite:hover{
		max-height: 500px;
	}
	#nb:hover{
		max-height: 500px;
	}
	#noteswood:hover{
		max-height: 500px;
	}
	#noteswhite:hover{
		max-height: 500px;
	}
	#sprinklesb:hover{
		max-height: 500px;
	}
	#sprinkleswood:hover{
		max-height: 500px;
	}
	#sprinkleswhite:hover{
		max-height: 500px;
	}

	/*Playlist Page*/

	p.two{
		font-size: 30px;
		text-align: left;
	}
	.name_of_artist{
		text-align: left;
		text-decoration: underline;
		margin-left: 7px;
		font-size: 24px;
	}
	.biod{
		text-align: left;
		padding: 14px;
		text-indent: unset;
	}

	.s_bio{
		text-align: left;
		padding: 14px;
		text-indent: unset;
	}
	.b_bio{
		text-align: left;
		padding: 14px;
		text-indent: unset;
	}

	.m_bio{
		text-align: left;
		padding: 14px;
		text-indent: unset;
	}

	/*Contact Page*/
	.touch{
		font-size: 40px;
		text-align: left;
	}



}